/* GENERIC */
@font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald-Medium.ttf");
}

@font-face {
    font-family: "Source-Sans";
    src: url("./fonts/SourceSans3-Medium.ttf");
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Source-Sans";
    color: #242424;
    border: none;
    outline: none;
}

body {
    background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald";
    color: #1a1a1a;
}

p,
span {
    font-size: 16px;
}

/* APP */
.main {
    width: 90%;
    min-width: 250px;
    max-width: 650px;
    margin-inline: auto;
    text-align: center;
    padding-block: 20px;

    .heading-underline {
        width: 200px;
        height: 3px;
        background-color: #1a1a1a;
        margin-inline: auto;
        margin-top: 5px;
    }

    .c-add-task {
        margin-top: 30px;

        .button {
            margin-top: 10px;
        }
    }

    .c-task-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        text-align: left;
        margin-top: 30px;

        .c-task {
            display: flex;
            align-items: center;
            gap: 10px;

            .c-text {
                width: 100%;
                background-color: #2e2e2e;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;

                .task-text {
                    color: #fcfcfc;
                }

                &.checked {
                    text-decoration: line-through;
                    text-decoration-color: #fcfcfc;
                    background-color: #555555;
                }
            }
        }

        .delete-button {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: #ba3131;

            .icon {
                width: 20px;
                height: 20px;
            }
        }
    }
}

/* INPUT */
.input {
    width: 100%;
    min-width: 250px;
    max-width: 650px;
    padding: 10px;

    box-shadow: -1px 1px 2px 0px #5f5f5f;
    border-radius: 5px;
    font-size: 16px;

    &:focus {
        box-shadow: inset 0px 0px 2px 0px #5f5f5f;
    }
}

/* BUTTON */
.button {
    padding: 10px;
    background-color: #4b4b4b;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s;
    box-shadow: -1px 1px 2px 0px #5f5f5f;

    &:hover {
        transform: scale(1.02);
        box-shadow: -1px 1px 5px 0px #5f5f5f;
    }

    .text {
        color: #fcfcfc;
    }
}